<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

    <appSettings>
      <!--<add key="MySQLConn" value="server=WinMySqlServer;User ID=root;Password=myP@ssw0rd;database=hnfactoryautodb;"/>-->
      <add key="MySQLConn" value="server=HN-FactoryDB;User ID=appdba;Password=App1qaz!QAZ;database=hnfactoryautodb;"/>
      <!--PLC服务的IP地址-->
      <add key="SocketIP" value="127.0.0.1" />
      <!--PLC服务的端口-->
      <add key="SocketPort" value="1510" />
    </appSettings>
  <connectionStrings>
    <add name="MyDatabase" connectionString="Server=HN-FactoryDB;Port=3306;Database=hnfactoryautodb;Uid=appdba;Pwd=App1qaz!QAZ;charset=utf8;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <!--<system.serviceModel>
    <services>
      <service name="Test.IPersonInfoQuery" behaviorConfiguration="serviceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7788/" />
          </baseAddresses>
        </host>
        --><!-- Service Endpoints --><!--

        --><!-- Metadata Endpoints --><!--
        --><!-- 元数据交换终结点供相应的服务用于向客户端做自我介绍。 --><!--
        --><!-- 此终结点不使用安全绑定，应在部署前确保其安全或将其删除--><!--
        <endpoint address="PersonInfoQueryServices" binding="webHttpBinding" behaviorConfiguration="webBehavior" contract="Test.IPersonInfoQuery"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior  name="serviceBehavior">
          --><!-- 为避免泄漏元数据信息，
          请在部署前将以下值设置为 false --><!--
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          --><!-- 要接收故障异常详细信息以进行调试，
          请将以下值设置为 true。在部署前设置为 false 
          以避免泄漏异常信息 --><!--
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"></serviceHostingEnvironment>
  </system.serviceModel>-->
</configuration>